

@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');


.home-container {
    font-family: 'Nova Square', sans-serif;

    margin-top: 1.5rem;
    margin-bottom: 2rem;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to right bottom, rgb(210, 210, 245), white); */
}

.home-container .left-home {
    flex-basis: 40%;
}

.home-container .left-home h3 {
    margin: 0;
    font-size: 2.7rem;
    line-height: 1.2;
    font-family: 900;
    text-align: left;
    margin-bottom: 0.8rem;
    color: rgba(39, 45, 56, 1);
}

.home-container .left-home p {
    margin: 0;
    text-align: left;
    font-size: 0.9rem;
    color: rgba(39, 45, 56, 1);
    margin-bottom: 1.1rem;
    line-height: 1.5;
}

.home-container .left-home .button-wrapper {
    display: flex;
    justify-content: flex-start;
}

.home-container .left-home .button-wrapper button {
    background: rgba(113, 168, 148, 1);
    color: #fff;
    width: 35%;
    padding: 0.9rem 0.8rem;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: 600;
}

.home-container .right-home {
    flex-basis: 50%;
    height: 600px;
    object-fit:cover ;
    position: relative;
    /* border: 1px solid red; */
}

.home-container .right-home img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    right: 50px;
    /* border: 1px solid red; */
}
