
.footer-container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.footer-container h3 {
font-size: 0.8rem;
color: rgba(39, 45, 56, 1);
}

.footer-container ul {
    display: flex;
    gap: 1.3rem;
}

.footer-container ul li {
    text-decoration: none;
    list-style: none;
    font-size: 0.7rem;
    font-weight: 500;
    color: rgba(39, 45, 56, 1);
    cursor: pointer;
}

.footer-container ul li:hover {
    color: rgba(113, 168, 148, 1);
}